.spinner{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
body{
    background: linear-gradient(to left, thistle, lightpink, lightyellow);
    
}
/* 
.c{
    border: 2px solid lightgray;
    border-radius: 25%;
} */